.login-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    background-color: #f5fcfc;
  }
  
  .login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .login-container h2 {
    text-align: center;
    color: #35b8be;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 5px;
    color: #546285;
    font-size: 14px;
  }
  
  form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons .submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #35b8be;
    color: white;
    cursor: pointer;
  }
  
  .buttons .cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #eee;
    color: #333;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
  }
  